@model SupplyChain.Core.SalesOrderHeader

@{
    ViewBag.Title = "Details";
}
<div>
    <h2>Customer: <span>@Model.Customer.Name</span></h2>
    <table width="100%">
        <thead>
            <tr>
                <th>Product</th>
                <th>Subtotal</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lineItems in Model.OrderDetails)
            {
                <tr>
                    <td>@lineItems.Product.Name</td>
                    <td>$@(lineItems.Product.Price * lineItems.Quantity)</td>
                    <td>@lineItems.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>