@model SupplyChain.Core.PurchaseOrderHeader

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>



<div>
    <h2>Supplier: <span>@Model.Supplier.Name</span></h2>
    <table width="100%">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Subtotal</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lineItem in Model.PurchaseOrderDetails) {
                <tr>
                    <td>@lineItem.Product.Name</td>
                    <td>$@(lineItem.Product.Price * lineItem.Quantity)</td>
                    <td>@lineItem.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>